<p>
  <label>
    Author:
    <%= note.user.email %>
  </label>

  <br/>

  <label>
    Comment:
    <br/>
    <%= note.comment %>
  </label>

  <% if current_user.id == note.user.id %>
    <%= button_to "Delete", note_url(note.id), method: :delete %>
  <% end %>

</p>
<br/>
